APP_ENV=local
APP_DEBUG=true
APP_KEY=SomeRandomString

DB_HOST=localhost
DB_DATABASE=homestead
DB_USERNAME=homestead
DB_PASSWORD=secret

CLOUD_DB_HOST=localhost
CLOUD_DB_DATABASE=cloud
CLOUD_DB_USERNAME=homestead
CLOUD_DB_PASSWORD=secret

CLOUDUSAGE_DB_HOST=localhost
CLOUDUSAGE_DB_DATABASE=cloud_usage
CLOUDUSAGE_DB_USERNAME=homestead
CLOUDUSAGE_DB_PASSWORD=secret

CACHE_DRIVER=file
SESSION_DRIVER=file
QUEUE_DRIVER=sync

MAIL_DRIVER=smtp
MAIL_HOST=mailtrap.io
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
